In [1]:
import numpy as np
import pandas as pd

In [2]:
from pandas.io.html import read_html

In [3]:
page = 'https://en.wikipedia.org/wiki/List_of_countries_by_hospital_beds'

wikitables = read_html(page,attrs={"class":"wikitable"})

print ("Extracted {num} wikitables".format(num=len(wikitables)))

Extracted 1 wikitables

In [4]:
wikitables[0].head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,Hospital beds by country (viewtalkedit),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Rank,Country/territory,Continent,Hospital beds per 1000 people,"Change from previous year, average",Occupancy (%)[16],"ICU-CCB beds/100,000 inhabitants",Ventilators,NaN,NaN,NaN,NaN,NaN
2,2013,2014,2015,2016,2017,Actual,Proportional (%),NaN,NaN,NaN,NaN,NaN,NaN
3,1,Japan,Asia,13.3,13.21,13.17,13.11,13.05,−0.06,−0.48,75.5,7.3[17],Unknown
4,2,South Korea,Asia,10.92,11.59,11.61,11.98,12.27,0.34,2.85,NaN,10.6[17],"9,795[18]"

In [5]:
wikitables[0].drop(0,axis=1,inplace=True)

In [6]:
wikitables[0].drop([1,2],axis=0,inplace=True)

In [7]:
wikitables[0].drop([],axis=0,inplace=True)

In [8]:
wikitables[0].head()

,1,2,3,4,5,6,7,8,9,10,11,12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Japan,Asia,13.3,13.21,13.17,13.11,13.05,−0.06,−0.48,75.5,7.3[16],Unknown
4,South Korea,Asia,10.92,11.59,11.61,11.98,12.27,0.34,2.85,NaN,10.6[16],Unknown
5,Russia,Europe,9.07,8.81,8.35,8.16,8.05,−0.26,−3.04,NaN,8.3[17],Unknown
6,Germany,Europe,8.28,8.23,8.13,8.06,8.00,−0.07,−0.86,79.8,29.2[18],"25,000[19]"

In [9]:
#df.rename(columns={'A': 'a'}, index={'ONE': 'one'})
wikidata=wikitables[0].rename(columns={1:'Country',
                            2:'Continent',
                            3:'2013',
                            4:'2014',
                            5:'2015',
                            6:'2016',
                            7:'2017',
                            8:'Actual',
                            9:'Proportional (%)',
                            10:'Occupancy (%)',
                            11:'ICU-CCB beds',
                            12:'Ventilators'})

In [12]:
wikidata.head()

,Country,Continent,2013,2014,2015,2016,2017,Actual,Proportional (%),Occupancy (%),ICU-CCB beds,Ventilators
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Japan,Asia,13.3,13.21,13.17,13.11,13.05,−0.06,−0.48,75.5,7.3[16],Unknown
4,South Korea,Asia,10.92,11.59,11.61,11.98,12.27,0.34,2.85,NaN,10.6[16],Unknown
5,Russia,Europe,9.07,8.81,8.35,8.16,8.05,−0.26,−3.04,NaN,8.3[17],Unknown
6,Germany,Europe,8.28,8.23,8.13,8.06,8.00,−0.07,−0.86,79.8,29.2[18],"25,000[19]"

In [16]:
wikidata.to_csv('wikistatic.csv')

In [13]:
wikidata.drop([0],axis=0,inplace=True)

In [15]:
wikidata.head()

,Country,Continent,2013,2014,2015,2016,2017,Actual,Proportional (%),Occupancy (%),ICU-CCB beds,Ventilators
3,Japan,Asia,13.3,13.21,13.17,13.11,13.05,−0.06,−0.48,75.5,7.3[16],Unknown
4,South Korea,Asia,10.92,11.59,11.61,11.98,12.27,0.34,2.85,NaN,10.6[16],Unknown
5,Russia,Europe,9.07,8.81,8.35,8.16,8.05,−0.26,−3.04,NaN,8.3[17],Unknown
6,Germany,Europe,8.28,8.23,8.13,8.06,8.00,−0.07,−0.86,79.8,29.2[18],"25,000[19]"
7,Austria,Europe,7.64,7.58,7.54,7.42,7.37,−0.07,−0.90,73.8,21.8[18],Unknown

In [17]:
wikidata['ICU-CCB beds']

3         7.3[16]
4        10.6[16]
5         8.3[17]
6        29.2[18]
7        21.8[18]
8        13.8[18]
9        11.6[18]
10        6.9[18]
11       15.5[18]
12       11.6[18]
13        9.2[18]
14       15.9[18]
15        9.7[18]
16        7.1[16]
17       14.6[18]
18       24.8[18]
19       11.0[18]
20        6.4[18]
21        3.6[16]
22          6[18]
23            NaN
24          8[18]
25        4.2[18]
26        6.4[18]
27        6.1[18]
28       12.5[18]
29        9.1[18]
30            NaN
31        9.7[18]
32        6.5[18]
33     46[20][21]
34       34.7[22]
35            NaN
36        6.7[18]
37        6.6[18]
38       13.5[24]
39        5.8[18]
40            NaN
41            NaN
42    1.2[25][26]
Name: ICU-CCB beds, dtype: object